<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">As a Engineer i focus on solveing problems and make things work more efficiently and effectively. If needed apply the theories and principles of science and mathematics to research and develop economical solutions to technical problems..</p>
                            <p align="justify">To learn more about me, do explore my social media sites or can also reach out to me directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">Oct 10, 1999</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">coco@dreamland.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">1001081180</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Street:  Gl.Fl., Balaji Arcade, S.v.road, Kandivli(w) 
                                City:Mumbai 
                                State/province/area:Maharashtra
                                Phone number  02228050916
                                Zip code  400067</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English,Kannada,Hindi</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

